<app-article-preview
  *ngFor="let article of articleObjects"
  [article]="article">
</app-article-preview>

<div class="article-preview" *ngIf="loading">
  <div class="panel panel-default">
    <div class="panel-body">Loading articles...</div>
  </div>
</div>

<div class="article-preview"
     *ngIf="!loading && articleObjects.length === 0">
  <div class="panel panel-default">
    <div class="panel-body">No articles are here... yet.</div>
  </div>
</div>

<app-pagination [totalCount]="totalCount" [currentPage]="currentPage"
                [maxVisible]="maxVisible" (pageSelected)="setPageTo($event)"
                [limit]="limit"></app-pagination>
